<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://300824022rodriguezass520161125084441.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>300824022rodriguezass520161125084441.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>300824022RodriguezAss520161125084441</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$300824022RodriguezAss520161125084441</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ContactEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:assigment5apidbserver.database.windows.net,1433;Initial Catalog=300824022RodriguezAss520161125084441_db;User ID=digma89@assigment5apidbserver;Password=&quot;DDDDD=ddddd55&quot;" Name="Data Source=tcp:assigment5apidbserver.database.windows.net,1433;Initial Catalog=300824022RodriguezAss520161125084441_db;User Id=digma89@assigment5apidbserver;Password=DDDDD=ddddd55" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="_300824022_Rodriguez__Ass5.Models.ContactEntities, 300824022(Rodriguez)_Ass5" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ContactEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:assigment5apidbserver.database.windows.net,1433;Initial Catalog=300824022RodriguezAss520161125084441_db;User Id=digma89@assigment5apidbserver;Password=DDDDD=ddddd55"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>